<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=q, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./ASSETS/CSS/reset.css">
    <link rel="stylesheet" href="./ASSETS/CSS/footer.css">
</head>
  <body>
    <footer>
        <div class="logo">
          <img src="./ASSETS/IMAGE/trirenggo-transparant.png" alt="trirenggo-logo">
          <span>Website layanan masyarakat yang dibuat dan diperuntukkan untuk masyarakat yang berada di daerah Trirenggo Yogyakarta.</span>
        </div>
        <div class="media">
            <ul>
                <li><a class="link" href="" target="_blank"><i class="icon fa-brands fa-facebook"></i><span class="text">facebook</span></a></li>
                <li><a class="link" href="" target="_blank"><i class="icon fa-regular fa-map"></i><span class="text">maps</span></a></li>
                <li><a class="link" href="" target="_blank"><i class="icon fa-brands fa-instagram"></i><span class="text">instagram</span></a></li>
                <li><a class="link" href="" target="_blank"><i class="icon fa-brands fa-twitter"></i><span class="text">twitter</span></a></li>
                <li><a class="link" href="" target="_blank"><i class="icon fa-brands fa-whatsapp"></i><span class="text">whatsapp</span></a></li>
                <li><a class="link" href="" target="_blank"><i class="icon fa-solid fa-phone"></i><span class="text">telp</span></a></li>
            </ul>
        </div>

        <div class="end">
            <img src="./ASSETS/IMAGE/Artboard 3.png" alt="icon-apps">
            <span>© 2023 CCS. All rights reserved.</span>
          
        </div>
    </footer>
  </body>
</html>
