<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./ASSETS/CSS/reset.css">
    <link rel="stylesheet" href="./ASSETS/CSS/navbar.css">
</head>
<body>
    <nav class="nav" id="home">
        <div class="icon"><a href="#home"></a></div>
        <div class="link">
            <ul>
                <li><a href="dashboard.php">Dashboard</a></li>
                <li><a href="report.php">Report</a></li>
                <li><a href="inbox.php">Inbox</a></li>
                <li><a href="index.php#about">About</a></li>
                <li><a href="index.php#faq">FAQ</a></li>
                <li><a href="index.php#guide">Guide</a></li>
                <li><a href="index.php#contact">Contact</a></li>
            </ul>
        </div>
        <div class="profile">
            <div class="img">
                <img src="https://cdn.dribbble.com/users/12989289/avatars/normal/data?1661947896" alt="img-profile">
            </div>
    
            <div class="dropdown">
                <ul>
                    <li><a href="./myprofile.php">My info</a></li>
                    <li><a href="./settings.php">Setting's</a></li>
                    <li><a href="../LOGIC/logout.php">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>    
</body>
</html>
