nav{
    background-color: bisque;
    max-width: 100%;
    width: 100%;
    height: auto;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.nav .icon{
    max-width: 100%;
    height: auto;
    padding: 10px 0;
    margin-left: 40px;
}

.nav .icon a{
    display: block;
    background-size: 120px;
    width: 65px;
    height: 60px;
    background-image: url("./Artboard 3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.nav .icon a img{
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    block-size: auto;
}

.nav .link{
    padding: 10px 0;
    flex-grow: 2;
}


.nav .link ul{
    gap: 20px;
    display: flex;
    align-items: center;
}

.nav .link ul li{
    list-style-type: none;
}

.nav .link ul li a{
    color: #6e6d7a;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav .link ul li a:hover{
    color: black;
}

.nav .profile{
    position: relative;
    margin-right: 40px;
    padding: 10px 0;
}

.nav .profile .img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.nav .profile .img img{
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.nav .profile:hover .dropdown,
.nav .profile:hover .dropdown::before{
    visibility: visible;
    display: block;
}

.nav .profile .dropdown{
    visibility: hidden;
    display: none;
    position: absolute;
    top: 70px;
    left: -225%;
    width: 200px;
    height: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-radius: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);;
}

.nav .profile .dropdown::before{
    visibility: hidden;
    display: none;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-bottom-color: bisque;
        border-bottom-style: solid;
        border-bottom-width: 6px;
        border-left-color: rgba(0, 0, 0, 0);
        border-left-style: solid;
        border-left-width: 6px;
        border-right-color: rgba(0, 0, 0, 0);
        border-right-style: solid;
        border-right-width: 6px;
        color: rgb(13, 12, 34);
        content: "";
        font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        height: 0px;
        left: 138px;
        line-height: 20px;
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
        position: absolute;
        top: -6px;
        transform: matrix(1, 0, 0, 1, -6, 0);
        visibility: visible;
        width: 0px
}

.nav .profile .dropdown ul{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    gap: 15px;
}

.nav .profile .dropdown ul li{
    list-style: none;
    width: 100%;
    text-align: center;
}

.nav .profile .dropdown ul li:hover{
    background-color: rgba(213, 222, 145, 0.44);
}

.nav .profile .dropdown ul li a{
    color: black;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 5px 0;
}

