main{
    padding: 40px 0;
}

h1,
h2,
h3{
    width: fit-content;
    margin: auto;
}

main .styled-table{
    margin: auto;
    margin-top: 30px;
}

.operation-link{
    text-decoration: none;
    color: #009879;
}

.box{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty{
    font-weight: 500;
    font-size: 1.6rem;
    margin: auto;
    display: block;
    width: fit-content;
}