@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

form {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: auto;
    margin: 7.5rem auto;
    padding: 1.6rem 2.8rem;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 3rem; */
}

form .title {
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-color: rgb(208, 2, 27);
    color: white;
    padding: 8px 10px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
}

form .mini-guide {
    margin-bottom: .5rem;
    font-size: 12px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.complaint-input-category {
    width: 100%;
    padding-bottom: 16px;
}


input,
textarea {
    font-size: 1.1rem;
    display: block;
    width: 100%;
    padding: 12px 14px;
    border: 1px solid rgb(204, 204, 204);
    transition: border 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

textarea{
    height: 250px;
}

input:hover {
    border: 1px solid rgb(0, 0, 0);
}

input:focus {
    border: 1px solid rgba(255, 0, 0, 1.0);
    box-shadow: 0 0 0px 2px rgba(208, 2, 27, 0.3);
    outline: none;
}

.date-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-picker-x {
    top: 50px !important;
    left: 0;
}

.date-picker-x.to-top {
    top: auto !important;
}

.form-button {
    width: 100%;
    background: rgb(0, 0, 0);
    margin-bottom: 1rem;
}

.form-button:hover {
    background: rgb(60, 60, 60);
}

.form-button button {
    padding: 12px 14px;
    background: transparent;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    border: none;
    outline: none;
    width: inherit;
    height: inherit;
    text-align: center;
    cursor: pointer;
}

.form-button button:hover {
    color: rgb(180, 180, 180);
}


[type="date"],
[type="file"] {
    cursor: pointer;
    padding: 16px 20px;

}