<div class="container">
    <div class="card">
        <span class="date"><?php $data['date']?></span>
        <span class="status 0">Belum Diperiksa</span>
        <h1 class="title"><?php $data['title']?></h1>
        <span class="description"><?php $data['description']?></span>
        <span class="username"><?php $data['']?></span>
        <div class="action">
            <a href="./getreport.php?id=<?php echo$data['id']?>">Lihat Laporan</a>
            <a href="./response.php?id=<?php echo$data['id']?>">Lihat Tanggapan</a>
        </div>
    </div>
</div>